WindowsApplicationSmartHouse/WindowsApplicationSmartHouse/Service References/DevicesService/Devices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Devices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14047/Devices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14047/Devices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14047/Devices.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDevices_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IDevices_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IDevices_AddDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDevice" />
  </wsdl:message>
  <wsdl:message name="IDevices_AddDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IDevices_DeleteDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDevice" />
  </wsdl:message>
  <wsdl:message name="IDevices_DeleteDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IDevices_UpdateDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDevice" />
  </wsdl:message>
  <wsdl:message name="IDevices_UpdateDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IDevices_GetDeviceData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceData" />
  </wsdl:message>
  <wsdl:message name="IDevices_GetDeviceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDevices_GetAllDevicesID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDevicesID" />
  </wsdl:message>
  <wsdl:message name="IDevices_GetAllDevicesID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDevicesIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IDevices">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevices/DoWork" message="tns:IDevices_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevices/DoWorkResponse" message="tns:IDevices_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevices/AddDevice" message="tns:IDevices_AddDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevices/AddDeviceResponse" message="tns:IDevices_AddDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevices/DeleteDevice" message="tns:IDevices_DeleteDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevices/DeleteDeviceResponse" message="tns:IDevices_DeleteDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevices/UpdateDevice" message="tns:IDevices_UpdateDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevices/UpdateDeviceResponse" message="tns:IDevices_UpdateDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevices/GetDeviceData" message="tns:IDevices_GetDeviceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevices/GetDeviceDataResponse" message="tns:IDevices_GetDeviceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDevicesID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevices/GetAllDevicesID" message="tns:IDevices_GetAllDevicesID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevices/GetAllDevicesIDResponse" message="tns:IDevices_GetAllDevicesID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDevices" type="tns:IDevices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IDevices/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDevice">
      <soap:operation soapAction="http://tempuri.org/IDevices/AddDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDevice">
      <soap:operation soapAction="http://tempuri.org/IDevices/DeleteDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDevice">
      <soap:operation soapAction="http://tempuri.org/IDevices/UpdateDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceData">
      <soap:operation soapAction="http://tempuri.org/IDevices/GetDeviceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDevicesID">
      <soap:operation soapAction="http://tempuri.org/IDevices/GetAllDevicesID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Devices">
    <wsdl:port name="BasicHttpBinding_IDevices" binding="tns:BasicHttpBinding_IDevices">
      <soap:address location="http://localhost:14047/Devices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>